{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "semi": [2, "never"],
    "consistent-return": 0,
    "comma-dangle": 0,
    "no-use-before-define": 0,
    "import/no-unresolved": [2, { ignore: ['electron'] }],
    "react/sort-comp": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-curly-spacing": [2, "always"],
    "react/prefer-stateless-function": 0,
    "react/jsx-closing-bracket-location": [1, "after-props"],
    "no-unused-expressions": ['error', { 'allowShortCircuit': true }]
  },
  "plugins": [
    "import",
    "react"
  ]
}
