body {
  background: #eaeaea;
}

#music-list {
  margin: 0;
  padding: 0;
}

.music-list-item {
  position: relative;
  list-style: none;
  list-style-type: decimal;
  background: #eaeaea;
  margin-bottom: 3px;
  height: 2em;
}
  .music-list-item.onprogress {
    background: #fff;
  }
    .music-list-item.onprogress .music-list-item-label {
      color: #5a6968;
    }

  .music-list-item.downloaded {
    background: #fff;
  }
    .music-list-item.downloaded .music-list-item-label {
      color: #739492;
    }

  .music-list-item.downloaded .music-list-item-bar {
    display: none;
  }


.music-list-item-label {
  color: #8e8e8e;
  padding: .5em 1em;
  position: absolute;
  left: 0;
  top: 0;
}

.music-list-item-bar {
  background: #91dcd9;
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}