body {
  background: #eaeaea;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

header {
  background: #42b29e;
  padding: 1em;
  position: fixed;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
}

h1 {
  color: #fff;
  font-weight: normal;
  float: right;
  margin: 0;
}

h1 > span {
  font-weight: bold;
}

.hidden {
  display: none;
}

#do-sync {
  color: #42b29e;
  background: #fff;
  text-decoration: none;
  padding: .1em .8em .2em 2em;
  font-size: 1.4em;
  line-height: 2em;
  border-bottom: 2px solid #278877;
}
  #do-sync:before {
    position: absolute;
    content: '';
    background: url('icon_sync.png') no-repeat;
    width: 24px;
    height: 24px;
    left: 1.2em;
    top: 1.2em;
  }
  #do-sync:hover {
    background: #FFC95C;
  }

  #do-sync.stopped {
    background: #2c7f71
  }

  #do-sync.rotate:before {
    -webkit-animation: spin 4s linear infinite;
  }

  @-webkit-keyframes spin {
    100% { -webkit-transform: rotate(-360deg); }
  }

#do-options {
  display: inline-block;
  background: url('icon_options.png') no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 1.7em;
  left: 8.2em;
}

#counter {
  position: absolute;
  top: .5em;
  right: 180px;
}

#counter-label {
  position: absolute;
  top: .5em;
  right: 180px;
  color: #fff;
  font-weight: bold;
  width: 60px;
  height: 60px;
  line-height: 5.7em;
  text-align: center;
  font-size: .7em;
}

.wrap {
  padding-top: 76px;
}

#music-list {
  margin: 0;
  padding: 0;
}

.music-list-item {
  position: relative;
  list-style: none;
  list-style-type: decimal;
  background: #eaeaea;
  margin-bottom: 3px;
  height: 2em;
}
  .music-list-item.onprogress {
    background: #fff;
  }
    .music-list-item.onprogress .music-list-item-label {
      color: #5a6968;
    }

  .music-list-item.downloaded {
    background: #fff;
  }
    .music-list-item.downloaded .music-list-item-label {
      color: #739492;
    }

  .music-list-item.downloaded .music-list-item-bar {
    display: none;
  }


.music-list-item-label {
  color: #8e8e8e;
  padding: .5em 1em;
  position: absolute;
  left: 0;
  top: 0;
}

.music-list-item-bar {
  background: #91dcd9;
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.music-list-item-bar.smooth {
  transition: width .3s ease-in-out;
}

#choose-folder {
  display: none;
}


#options {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(66, 178, 158, .8);
  z-index: 20;
  box-sizing: border-box;
  padding: 5em 2em 2em 2em;
  color: #fff;
  font-size: 1.2em;
}
  .options-item {
    margin-bottom: .6em;
  }

  .options-item-checkbox {
    color: #fff;
    text-decoration: none;
  }
    .options-item-checkbox-icon {
      display: inline-block;
      width: .7em;
      height: .7em;
      background: #fff;
      border: 2px solid #fff;
    }
    .options-item-checkbox.checked
    .options-item-checkbox-icon {
      background: #FFC95C;
      border: 2px solid #fff;
    }
    .options-item-input-label {
      display: inline-block;
    }

  .options-btn {
    display: inline-block;
    background: #fff;
    color: #000;
    padding: .5em 1em;
    text-decoration: none;
    text-align: center;
    margin-right: 1em;
  }
  .options-btn:hover {
    background: #FFC95C;
  }
  .options-btn-current {
    display: block;
    font-size: .6em;
    margin-top: .5em;
    background: #F8F8F8;
  }

  .bnt-close-options {
    background: #FFC95C;
    padding: .5em 1em;
    color: #7b5200;
    text-decoration: none;
    border-bottom: 2px solid #af842d;
    float: right;
  }

  .options-item-input {
    width: 1.5em;
    font-size: .9em;
    text-align: center;
  }