body {
  background: #eaeaea;
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

header {
  background: #42b29e;
  overflow: hidden;
  padding: 1em;
  position: fixed;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
}

h1 {
  color: #fff;
  font-weight: normal;
  float: right;
  margin: 0;
}

h1 > span {
  font-weight: bold;
}

#do-sync {
  color: #42b29e;
  background: #fff;
  text-decoration: none;
  padding: .3em 1em;
  font-size: 1.2em;
  line-height: 2em;
  border-bottom: 2px solid #278877;
}

#do-sync:hover {
  background: #dfff49;
}

#music-list {
  margin: 0;
  padding: 71px 0 0 0;
}

.music-list-item {
  position: relative;
  list-style: none;
  list-style-type: decimal;
  background: #eaeaea;
  margin-bottom: 3px;
  height: 2em;
}
  .music-list-item.onprogress {
    background: #fff;
  }
    .music-list-item.onprogress .music-list-item-label {
      color: #5a6968;
    }

  .music-list-item.downloaded {
    background: #fff;
  }
    .music-list-item.downloaded .music-list-item-label {
      color: #739492;
    }

  .music-list-item.downloaded .music-list-item-bar {
    display: none;
  }


.music-list-item-label {
  color: #8e8e8e;
  padding: .5em 1em;
  position: absolute;
  left: 0;
  top: 0;
}

.music-list-item-bar {
  background: #91dcd9;
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#choose-folder {
  display: none;
}